.nav_bar {
  background: #455b89;
  min-width: 320px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  max-height: 70px;
  flex: 0 0 70px;
  position: relative;
  z-index: 2;
}